.form {
    background: wheat;
    border-radius: clamp(10px, 5vw, 25px);
    padding: clamp(16px, 5vw, 32px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(300px, 30vw, 660px);
    }

.form__heading{
    font-weight: 200;
}

.form__fieldInput{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.form__button {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #ff9741;
    color: #ffffff;
}

.form__button:disabled {
    background-color: darkgrey;
    cursor: not-allowed;
}

.form__error {
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 12px;
}
